<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Address book</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
        <h1>Your very own Address Book!</h1>
        </div>
        <form action="/address_create" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </div>
            <button type="submit" name="button">Add Contact</button>
        </form>
    </div>
</body>
</html>
