<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>New Contact</title>
</head>
<body>
    <div class="container">
        <h1>New Contact Added!</h1>
        <p>{{ newcontact.getName }}</p>
        <p>{{ newcontact.getAddress }}</p>
        <p>{{ newcontact.getPhone }}</p>
        <p>{{ newcontact.getEmail}}</p>
        <h5><a href='/'>See 'em</a></h5>
    </div>
</body>
</html>
