<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/../css/styles.css" type="text/css">
        <title>delete</title>
    </head>
    <body id="delete">
        <div class="container">

        <h1 id="delete-head">Address Book Cleared!</h1>
        <p id="delete-home"><a href="/">Home</a></p>
        </div>
    </body>
</html>
