<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../css/styles.css" type="text/css">
    <title>delete</title>
</head>
<body id="delete">
    <h1>Address Book Cleared!</h1>
    <a href="/">Home</a>
</body>
</html>
