#delete {
    background-image: url("/../img/ruled.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#delete-head {
    text-align: center;
}

#delete-home {
    text-align: center;
    font-size: 24px;
}

#cover {
    background-image: url("/../img/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#home-page {
        background-image: url("/../img/ruled.jpg");
        background-repeat: no-repeat;
        background-size: cover;
}

#overlay {
    text-align: center;
    text-shadow: rgb(255, 206, 236) 2px 2px;
}

.jumbotron {
    background-image: url("/../img/flower.jpg");
}

#list {
    list-style: none;
}

#create-new {
    background-image: url("/../img/ruled.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.create-page {
    font-size: 32px;
    text-align: center;

}

#new-head {
    text-align: center;
}

#see {
    text-align: center;
}

.form-group {
    font-size: 24px;
}

#search {
    background-image: url("/../img/ruled.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.search {
    list-style: none;
    font-size: 32px;
}
