#delete {
    background-image: url("/../img/blank.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#delete-head {
    text-align: center;
}

#delete-home {
    text-align: center;
    font-size: 16px;
}

#overlay {
    text-align: center;
    text-shadow: rgb(255, 206, 236) 2px 2px;
}

.jumbotron {
    background-image: url("/../img/flower.jpg");
}

#list {
    list-style: none;
}
